* {
  margin: 0;
  padding: 0;
}

body{
	background: linear-gradient(to right, #a3d2ca, #5eaaa8);
	height: 100vh;
}

.input_form{
  width: 100%;
  margin: auto;
  padding: 20px;
  outline: 0px;
  border: none;
  margin: 20px 0px;
  font-size: 22px;
}

.input_form::placeholder{
  font-size: 22px;
}



.taskToDo{
  margin-bottom: 25px;
}

h2{
  margin: 15px 0px;
}
  .task{
    
    width: 100%;
    padding: 18px;
    margin-bottom:4px ;
    font-size: 16px;
    color: black;

  }

  ol {
    margin: 0;
    padding: 0;
  }


  ol li{
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 11px;
    list-style-position: inside;
  }





.completedTask .task{
  background: rgba(255, 255, 255, 0.8);
}


.task i{
  float: right;
  margin-left: 16px;
  cursor: pointer;
}

.r:hover{
  color: red;
  transform: scale(1.2);

}

.g:hover:hover{
  color: rgb(2, 248, 2);
  transform: scale(1.2);
}

.col-md-10{
  margin: auto;
}

.col-md-7{
  margin: auto;
}
